.app-header {
    display: flex;
    min-height: 3.5rem;

    background-color: var(--white);
    padding: .8rem 1rem;
    border-bottom: 2px solid var(--gray-light);

    & .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        width: 100%;
        color: var(--gray);
        font-size: .9em;

        .nav-middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2em;

            font-weight: 300;
            letter-spacing: .3px;
        }

        a:hover {
            text-decoration: none;
        }

        a.active:not(.logo) {
            font-weight: 600;
            color: var(--black);
            border-bottom: 2px solid var(--black);
        }

        .logo {
            font-size: 1.4em;
            font-weight: 500;
            margin-inline-start: 1em;
            color: var(--clr1);
        }

        .login-link {
            margin-inline-start: auto;
        }

        & button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr1);
            border-radius: 50%;
            margin: 10px;

            color: var(--white);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}