.guests-dropdown {
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--white);
    border-radius: 32px;
    padding: 16px 26px 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    width: 340px;
    z-index: 10;

    .guest-row {
        position: relative;
        padding: 4px 0 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        hr {
            position: absolute;
            bottom: 0;
            width: 100%;
            border: 0;
            border-bottom: 1px solid var(--gray-light);
        }

        &:last-child hr {
            display: none;
        }

        .info {
            margin: .6em 0 .7em;
            .title {
                font-size: .9rem;
                font-weight: 600;
                color: var(--black);
                margin-bottom: 4px;
            }

            .desc {
                color: var(--gray);
                font-size: .75rem;
                font-weight: 400;
            }

            a {
                color: var(--gray2);
                font-size: .65rem;
                /* text-decoration: underline; */
                font-weight: 500;
            }
        }

        .counts {
            display: flex;
            align-items: center;
            gap: 0;

            button {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid var(--gray2);
                background: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                cursor: pointer;
                margin: 0;
                color: var(--gray);

                &:hover {
                    border-color: var(--black);
                    color: var(--black);
                }

                &.disabled {
                    opacity: 0.4;
                    cursor: not-allowed;
                }
            }

            span {
                min-width: 20px;
                text-align: center;
                font-size: .9rem;
                margin: 0 .4em;
            }
        }
    }
}