.host-header-nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: bold;
  li {
            a {
            text-decoration: none;
            color: var(--gray);
            font-weight: bold;
            padding: 4px 0;
            position: relative;

            &:hover {
                color: var(--black);
            }

            &.active::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: var(--black);
            }
        }
    }
}

@media (max-width: 1125px) {
  .btn-hosting {
    display: none;
  }
}