.app-header {
    .host-header-nav {

        ul {
            display: flex;
            gap: 16px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                color: var(--gray);
                font-weight: bold;

            }

            li:hover {
                color: var(--black);
                cursor: pointer;
            }

            li::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 2px;
                background-color: var(--black);
                opacity: 0;
            }

            li:focus {
                color: var(--black);
                outline: none;
            }

            li:focus::after {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1127px) {
    .btn-hosting {
        display: none;
    }
}