.order-page {
    display: grid;
    grid-template-columns: 90px 1fr 140px 1fr 90px;
    grid-template-rows: 100px 1fr 20px;
    position: relative;

    padding-inline: 30px;

    header {
        grid-column: 2 / 3;
        grid-row: 1;
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 1.7rem;
        }
    }

    .btn-back {
        justify-self: end;
        grid-column: 1;
        grid-row: 1;
        background-color: var(--white-gray);
        padding: 3px 2px 0 3px;
        font-size: 1rem;
        font-weight: 200;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0 10px 0 0;
    }

    .order-content {
        grid-column: 2 / 5;
        display: contents;

        .form-pay {
            position: relative;
            grid-row: 2 / 3;
            grid-column: 2 / 3;

            padding: 1.5em 2em;
            border-radius: 25px;
            border: 1px solid var(--white-gray);
            box-shadow: 0px 3px 20px 0px var(--gray-light);

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .card {
                p {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    font-weight: 400;
                    font-size: .9rem;
                }
            }

            .card-details {
                display: flex;
                flex-direction: column;

                border: 1px solid var(--gray2);
                border-radius: 12px;
                margin: 1.5em 0 0;

                .card-name {
                    border-bottom: 1px solid var(--gray2)
                }

                div {
                    display: flex;

                    .validity {
                        border-right: 1px solid var(--gray2);
                    }
                }
            }

            .zip-code {
                margin-block: 1.5em;
                border: 1px solid var(--gray2);
                border-radius: 12px;
            }

            input {
                border: 0;
                width: 100%;
                background-color: transparent;
                padding: 1.4em;
            }

            .bottom {
                display: flex;
                /* align-items: center; */
                justify-content: space-between;

                select {
                    padding: 12px 20px;
                    border: 1px solid var(--gray2);
                    border-radius: 12px;
                    cursor: pointer;
                }

                button {
                    margin: 0;
                    border-radius: 12px;
                    padding: 15px 30px;
                    font-size: .8rem;
                    background-color: var(--black);
                    color: var(--white);
                }
            }
        }

        .order-summary {
            grid-row: 2 / 3;
            grid-column: 4 / 5;

            padding: 1.5em;
            margin-block-end: 1em;
            border-radius: 25px;
            border: 1px solid var(--gray-light-hover);

            hr {
                border: .5px solid var(--white-gray);
                margin-block: 1em;
            }

            .stay-preview-info {
                display: flex;
                align-items: center;
                gap: 20px;

                margin-bottom: 20px;

                img {
                    width: 100px;
                    height: 100px;
                    max-width: inherit;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            h5 {
                font-size: .875rem;
                margin-bottom: .4em;
            }

            span {
                font-weight: 300;
                font-size: .8rem;
            }

            .payment-row {
                display: flex;
                justify-content: space-between;

                font-size: .85rem;

                span {

                    font-weight: 600;
                }
            }

            .total {
                display: flex;
                justify-content: space-between;

                padding-block: .4em;

                span {
                    font-weight: 600;
                    font-size: .875rem;
                }
            }

            h2 {
                padding: 0 60px;
                color: var(--success);
                text-align: center;
                font-size: 1rem;
                font-weight: 100;
            }

            .success-msg-div {
                display: flex;
                align-items: center;
                gap: .2em;
                justify-content: center;

                margin-top: 40px;
                padding-inline-end: 2em;
                /* position: fixed; */
                top: 75px;

                svg {
                    font-size: 2.1rem;
                }

                .success-msg-span {
                    font-size: 1.3rem;
                    color: var(--clr1);
                    font-weight: 600;
                }
            }
        }
    }

}

@media (max-width: 1050px) {
    .order-page {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .btn-back {
            position: absolute;
            left: calc(50% - 230px);
            transform: translateX(-100%);
        }

        header {
            grid-column: inherit;
            grid-template-columns: 1fr 400px 1fr;
            grid-template-rows: 90px;

            margin: 35px auto 25px;
            padding-inline-end: 150px;

            flex-direction: column;
            justify-content: space-evenly;
            gap: 20px;

            h1 {
                font-size: 1.9em;
            }
        }

        .order-content {
            grid-column: 1/ 2;

            display: flex;
            flex-direction: column-reverse;
            gap: 40px;

            margin: 0 auto;
            width: 400px;
        }
    }
}

@media (max-width: 745px) {

    body:has(.order-page) {
        .app-header {
            display: none;
        }
    }

    .order-page {
        padding: 0;
        grid-template-columns: minmax(30px, 100px) 1fr minmax(30px, 100px);
        grid-template-rows: 1fr;

        .stay-preview-info {
            p {
                font-size: .9rem;
            }

            img {
                overflow: clip;

            }
        }


        header {
            padding: 50px 0 20px 20px;
            margin: 0;
            position: relative;

            grid-column: 2 / 3;
            align-items: start;
            justify-content: stretch;

            .btn-back {
                right: -20px;
                position: absolute;


                font-size: .9rem;
                color: var(--black);
                margin: 0;
                background-color: transparent;
            }

            h1 {
                font-size: 1.6rem;
            }
        }

        .order-content {
            width: 100%;
            padding-inline: 15px;
            gap: 10px;

            grid-column: 2 / 3;

        }

    }
}

@media (max-width: 650px) {

    .order-page {
        header {
            position: relative;

            .btn-back {
                position: absolute;
                right: -20px;
            }
        }
    }
}

@media (max-width: 560px) {

    .order-page {
        padding: 0;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 1fr;

        header {
            margin: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            grid-column: 2;
            align-items: start;

            .btn-back {
                top: 45px;
                right: -30px;

                font-size: .9rem;
                color: var(--black);
                margin: 0;
                background-color: transparent;

                svg {
                    height: .8em;
                    width: .8em;
                }
            }

            h1 {
                font-size: 1.3rem;
            }
        }

        .stay-preview-info {

            img {
                overflow: clip;
            }
        }

        .order-content {
            grid-column: 2;

            width: 100%;
            padding-inline: 15px;
            gap: 10px;

            .form-pay {

                .card {
                    h3 {
                        font-size: .9rem;
                    }

                    p {
                        font-size: .8rem;
                        margin: 0;
                    }
                }

                .card-details {
                    margin-top: 1.2em;
                }

                input {
                    padding: 1.3em;
                    font-size: .758rem;
                }

                .zip-code {
                    margin-block: 1.4em;
                }

                .bottom {
                    select {
                        padding-inline: 20px;
                    }

                    button {
                        padding-inline: 29px;
                        padding-block: 10px;
                    }
                }
            }

            .order-summary {
                hr {
                    margin-block: .6em;
                }

                h5 {
                    font-size: .8rem;
                    margin-bottom: .1em;

                    span {
                        font-size: .7rem;
                    }
                }

                .success-msg-div {
                    justify-content: flex-start;
                    padding: 0;
                    margin: 1.1em 0 0;

                    svg {
                        height: 1.2rem;
                    }

                    .success-msg-span {
                        font-size: 1rem;
                    }
                }

                .total {

                    span {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}