:root {
  --clr1: #ff385c;
  --clr1-hover:#DB0963;
  /* background: linear-gradient(to right, var(--clr1), var(--clr1-hover)); */

  --white: #FFFFFF;
  --white-gray: #F2F2F2;
  --gray-light: #EBEBEB;
  --gray-light-hover: #DDDDDD;
  --gray2:rgb(174, 174, 174);
  --gray: #6A6A6A;
  --black: #222222;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);
  --pading: rgb(243, 156, 18);
}