
.review-preview {
	padding: .5em;
	background-color: var(--gray);
	color: var(--white);

	.review-txt {
		padding: 0.4em;
		background-color: var(--black);

		color: var(--white);
		border-left: 1em solid var(--white);
		font-size: 1.2em;
	}
}