.add-stay-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
    .modal {
        background: white;
        width: 1032px;
        height: 630px;
        border-radius: 16px;
        padding: 24px;
        position: relative;

        .add-stay-header{
            padding-top: 64px;

            
            .btn-close {
                position: absolute;
                top: 12px;
                left: 12px;
                background: none;
                border: none;
                font-size: 18px;
                cursor: pointer;
                border-radius: 50%;
                
                &:hover{
                    background-color: var(--gray-light); 
                }
            }
        }
        
        .step1 {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            h2{
                text-align: center;
                padding: 0 8px;
            }

            .add-stay-options {
                display: flex;
                gap: 16px;
                padding: 24px;
                align-self: center;
        
                .add-stay-card {
                    width: 310px; 
                    height: 330px;
                    background-color: var(--white);
                    border: 1px solid var(--gray-light);
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;;
                    padding: 100px 24px 48px 24px;
                    gap: 48px;
                    cursor: pointer;
                    transition: border-color 0.2s, box-shadow 0.2s;
        
                    &.selected {
                        border-color: var(--black);
                    }
        
                    /* .add-stay-card-img {
                      width: 110px; 
                      height: 110px;
                      margin-bottom: 8px;
                    } */

                    .add-stay-card-label {
                      font-size: 1.195rem;
                      font-weight: 600;
                    }
                }
            }
            
            .add-stay-bottom{
                border-top: 1px solid var(--gray-light);
                padding: 16px 24px;
                text-align: end;

                .btn-next{
                    padding: 14px 24px;
                    border-radius: 8px;
                    font-size: 1rem;
                    
                    &.disabled{
                        color: var(--white);
                        background-color: var(--gray-light);
                        cursor: not-allowed;
                    }
                    
                    &.active{
                        color: var(--white);
                        background-color: var(--black);
                        cursor: pointer;
                    }
                }
            } 
        }

        .step2{
            flex: 1;
            display: flex;
            flex-direction: column;
            /* gap: 16px; */
            
            
            .step2-header{
                border-bottom: 1px solid var(--gray-light);
                h2 ,p{
                    text-align: center;
                    padding: 0 8px;
                }
                
                p {
                    color: var(--gray);
                }
            }
            
            .about{
                flex: 1;
                overflow-y: auto;
                padding-bottom: 16px;
                /* display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 0px 24px; */
            }
            
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 6px;
                
                label {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                
                input,
                textarea {
                    padding: 12px;
                    border-radius: 8px;
                    border: 1px solid var(--gray-light);
                    font-size: 0.95rem;
                }
                
                textarea {
                    resize: vertical;
                }
            }
            
            .address-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
            }
            
            .grid-3 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
            }
            
            .image-upload {
                position: relative;
                border: 1px dashed var(--gray-light);
                border-radius: 12px;
                padding: 32px;
                text-align: center;
                color: var(--gray);
                cursor: pointer;
                
                p {
                    margin: 0;
                }
                
                input {
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .actions{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid var(--gray-light);
                padding: 16px 24px;
                text-align: end;

                .btn-back{
                    padding: 14px 24px;
                    border-radius: 8px;
                    font-size: 1rem;
                    color: var(--white);
                    background-color: var(--black);
                }

                .btn-next {
                    padding: 14px 24px;
                    border-radius: 8px;
                    font-size: 1rem;
                    
                    &.disabled{
                        color: var(--white);
                        background-color: var(--gray-light);
                        cursor: not-allowed;
                    }
                    
                    &.active{
                        color: var(--white);
                        background-color: var(--black);
                        cursor: pointer;
                    }
                }
            }
            
        }

        .step3{
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            
            .header{
                border-bottom: 1px solid var(--gray-light);
                h2 ,p{
                    text-align: center;
                    padding: 0 8px;
                }
            }


            .actions{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid var(--gray-light);
                padding: 16px 24px;
                text-align: end;

                .btn-back{
                    padding: 14px 24px;
                    border-radius: 8px;
                    font-size: 1rem;
                    color: var(--white);
                    background-color: var(--black);
                }

                .btn-next {
                    padding: 14px 24px;
                    border-radius: 8px;
                    font-size: 1rem;
                    
                    &.disabled{
                        color: var(--white);
                        background-color: var(--gray-light);
                        cursor: not-allowed;
                    }
                    
                    &.active{
                        color: var(--white);
                        background-color: var(--black);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
