.trips-page {
    padding: 50px;

    .title {
        font-size: 2rem;
        padding: 6px 18px 10px 18px;
    }

    .trips-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
        gap: 2rem;

        margin-top: 0;
        padding-inline: 18px;
    }

    .trip-card {
        cursor: pointer;
        transition: transform 0.2s ease;

        p {
            margin: 0;
            margin-bottom: 2px;
        }

        .img-container {
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s;
            }

            .status-badge {
                position: absolute;
                top: 12px;
                left: 12px;
                background-color: var(--white);
                padding: 4px 12px;
                border-radius: 8px;
                font-size: 0.8rem;
                font-weight: bold;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                text-transform: capitalize;

                &.pending {
                    color: var(--pading);
                }

                &.approved {
                    color: var(--success);
                }

                &.rejected {
                    color: var(--error);
                }
            }
        }

        .trip-details {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .stay-name {
                font-size: .875rem;
                margin: 0;
            }

            .stay-host {
                color: var(--gray2);
                font-size: 0.7rem;
                font-weight: 400;
            }

            .trip-dates {
                color: var(--gray);
                font-size: 0.75rem;
                font-weight: 400;
            }

            .trip-price {
                font-weight: 500;
                font-size: .8rem;
            }
        }
    }

    .no-trips {
        padding: 0 18px;

        h3 {
            font-size: 1.1rem;
            margin-bottom: 8px;
        }

        p {
            color: var(--gray);
            margin-bottom: 20px;
        }
    }
}