.user-msg {
    position: fixed;
    bottom: 70px;
    right: 0;

    display: flex;
    align-items: center;

    padding: .2em;
    padding-inline-end: 1.5em;
    background-color: var(--gray);

    color: var(--white);
    font-size: .9em;

    opacity: 0;
    translate: 150%;
    transition: 600ms;
    z-index: 200000;

    &.visible {
        opacity: 1;
        translate: 0;
    }

    &.success {
        background-color: var(--success);
    }

    &.error {
        background-color: var(--error);
    }

    & button {
        background-color: var(--white);
        padding: 1px 6px;
        border: 0;
        border-radius: 50%;
        color: var(--black);
    }

}