.wishlist-page {
    padding: 50px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            padding: 6px 18px 10px 18px ;
        }
    }

    .saved-list {
        --min-column-size: 180px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
        gap: 2rem;

        margin-top: 0;
        padding-inline: 18px;

        li {
            
        }
    }
}