body {
    padding: 0 80px;
}

.heading {
    justify-content: space-between;
}

.right-heading {
    gap: 10px;
}

.gallery {
    /* width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw); */
    /* height: 420px; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 16px;
    gap: 8px;
}

.gallery-main,
.gallery-side>div {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    filter: brightness(90%);
    /* כהה ב-30% */
    cursor: pointer;
}

.gallery-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.left-img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.top-right {
    border-top-right-radius: 16px;
}

.bottom-right {
    border-bottom-right-radius: 16px;
}

.guests {
    margin: 0;
}

.description {
    padding: 32px 0;
}


.amenities-wrapper {
    display: flex;
    gap: 40px;
    /* רווח בין שני התורים */
}

.queue1 div,
.queue2 div {
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 8px;
}