.stay-list {
    margin-top: 0;

    .location-group {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
        padding-inline: 29px;

    }

    .stays-grid {

        display: grid;
  
        
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        grid-template-rows: 1fr;
        grid-auto-rows: 0;
        overflow: hidden;
        justify-content: start;

        gap: .8rem;
        margin-top: 0;

        overflow-x: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .location-title {
        font-weight: 500;
        align-self: end;
        font-size: 1.2rem;
        margin: 24px 0 0;
        padding-bottom: 20px;
    }

}