.stay-list {
    margin-top: 0;

    .location-group {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
        padding-inline: 29px;

    }

    .stays-grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: none;
        grid-auto-columns: 170px;
        grid-template-rows: max-content;
        overflow-x: auto;
        grid-auto-rows: 0;
        overflow-y: hidden;
        gap: .8rem;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .stays-grid>li {
        scroll-snap-align: start;
    }

    .location-title {
        font-weight: 500;
        align-self: end;
        font-size: 1.2rem;
        margin: 24px 0 0;
        padding-bottom: 20px;
    }

}