.stay-list {
    margin-top: 0;

    .location-group {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;

    }

    .stays-grid {
        --min-column-size: 170px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
        gap: .8rem;
        margin-top: 0;
        padding-inline: 18px;
    }

    .location-title {
        font-weight: 500;
        align-self: end;
        font-size: 1.2rem;
        margin: 24px 20px 0;
        padding-bottom: 20px;
    }

    /* .list {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        list-style: none;
        padding: 0;
    } */

}

/* .stay-item{
    display: grid;
    justify-items: stretch;
    
    border-radius: 30px;
    width: 100%;
    
    .actions {
        justify-self: end;
        
        button {
            padding: 0;
            }
            }
            } */
/* .stay-item {
    display: flex;
    flex-direction: column;
    width: 100%;
} */