.stay-filter {
    display: grid;
    grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;

    background-color: var(--gray-light);
    padding: .5em;

    & h3 {
        grid-column: 1 / -1;
        font-size: .9em;
        margin: 0;
    }

    :not(h3) {
        cursor: pointer;
    }

    & input:is([type="text"], [type="number"]){
        height: 1.8em;
        border: none;
        border-block-end: 1px solid var(--white);
    
        &:focus {
            outline: none;
            background-color: var(--white);
        }
    }


    .btn-clear {
        grid-column: 4;
    }

    .sort-field, .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em;

        /* margin-inline-start: .4em; */

        font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    > input[type="radio"] {
        display: none;
    }

    & label {
        > span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid var(--white);
        }

        &:has(:checked) span  {
            background-color: var(--gray);
            color: var(--white);
        }
    }
}