.stay-list {
    --min-column-size: 190px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;
    margin-top: 0;

    li {
        display: grid;
        border-radius: 30px;
        justify-items: center;

        .actions {
            justify-self: end;

            button {
                padding: 0;
            }
        }
    }
}