.stay-list {
    margin-top: 0;

    .location-group {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }

    .stays-grid {
        --min-column-size: 170px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
        grid-template-rows: 1fr;
        gap: .8rem;
        margin-top: 0;
        padding-inline: 29px;
    }

    .location-title {
        font-weight: 500;
        align-self: end;
        font-size: 1.2rem;
        margin: 24px 30px 0;
        padding-bottom: 20px;
    }

}
