.stay-header {
    .header-order{
        padding: 12px 16px;
        margin: 0;
        background-color: var(--white);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        
        .order-card {
            max-width: 400px;
            padding: 0px 40px;;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: none;
            max-width: none;
            gap: 16px;

            .order-top {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2px;

                .order-header {
                    .price {
                        margin: 0px;
                        display: flex;
                        align-items: baseline;
                        gap: 6px;

                        .span1 {
                            font-size: 1.188rem;
                        }

                        .span2 {
                            font-size: 0;

                            &::after {
                                content: "total";
                                font-size: 0.875rem;
                            }
                        }

                    }
                }
            }

            .order-summary {
                border: none;
                margin: 0;
                padding: 0;
                flex: 0 0 auto;

                .order-dates {
                    display: flex;
                    gap: 4px;
                    font-size: 0.875rem;
                    
                    .date-box {
                        padding: 0px;
                        display: inline;
                        border-right: 0px;

                        .label {
                            display: none;
                        }

                        .value {
                            font-size: 1.063rem;
                        }
                    }

                    .date-box:first-child::after {
                        content: " - ";
                    }
                }

                .order-bottom{
                    flex: 0 0 auto;
                    display: flex;
                    flex-direction: column;
                    
                    .reserve-btn {
                        min-width: 120px;
                        padding: 18px 36px;
                        margin: 0;
                        font-size: 1.125rem;
                        border-radius: 2rem;
                        white-space: nowrap;

                        &:hover {
                            background-position: right;
                        }
                    }

                }

                .order-guests {
                    display: none;
                }
            }

            .order-bottom {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;

                .reserve-btn {
                    min-width: 120px;
                    padding: 18px 36px;
                    margin: 0;
                    font-size: 1.125rem;
                    border-radius: 2rem;
                    white-space: nowrap;
                    background: linear-gradient(to right, var(--clr1-hover), var(--clr1));
                    background-size: 200% 100%;
                    color: white;
                }

                .order-note {
                    display: none;
                }
            }
        }
    }
}
 
.hidden {
    display: none;
}